In [378]:
import pandas as pd
import numpy as np
from jupyterthemes import jtplot
from IPython.core.display import display, HTML

display(HTML("<style>.container { width:80% !important; }</style>"))
jtplot.style()

## DataTypes & Attributes

In [379]:
# NumPy's main datatype is ndarray
# n dimensional array
# 所有的 Data 都會轉換為數字來進行機器學習, 
# 所以需要極為複雜的維度來組織 Data (數值)
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [380]:
type(a1)

numpy.ndarray

In [381]:
a2 = np.array([[1, 2.0, 3.3], [4, 5, 6.5]])
a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]],
               [[10, 11, 12],
                [13, 14, 15],
                [16, 17, 18]]])
a4 = np.array([[[[2, 3],
                 [2, 3],
                 [2, 3]],
                [[2, 3],
                 [2, 3],
                 [2, 3]],
                [[2, 3],
                 [2, 3],
                 [2, 3]]],
               [[[2, 3],
                 [2, 3],
                 [2, 3]],
                [[2, 3],
                 [2, 13],
                 [2, 3]],
                [[2, 3],
                 [2, 3],
                 [2, 3]]]]

              )

In [382]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [383]:
a3.shape

(2, 3, 3)

In [384]:
a4.shape

(2, 3, 3, 2)

In [385]:
a1.ndim, a2.ndim, a3.ndim, a4.ndim

(1, 2, 3, 4)

In [386]:
a1.size, a2.size, a3.size, a4.size

(3, 6, 18, 36)

In [387]:
# Create a DataFrame from a NumPy array
pd.DataFrame(a2)

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

## 2. Creating Arrays

In [388]:
sample_array = np.array([1, 2, 3])
sample_array

array([1, 2, 3])

In [389]:
sample_array.dtype

dtype('int32')

In [390]:
ones = np.ones([1, 2])
ones

array([[1., 1.]])

In [391]:
zeros = np.zeros([1, 2])
zeros

array([[0., 0.]])

In [392]:
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

In [393]:
random_array = np.random.randint(1, 10, size=(3, 3, 3))
random_array

array([[[8, 9, 2],
        [6, 9, 5],
        [4, 1, 4]],

       [[6, 1, 3],
        [4, 9, 2],
        [4, 4, 4]],

       [[8, 1, 2],
        [1, 5, 8],
        [4, 3, 8]]])

In [394]:
random_array.size

27

In [395]:
random_array.shape

(3, 3, 3)

In [396]:
random_array2 = np.random.random((5, 3))
random_array2

array([[0.21655035, 0.13521817, 0.32414101],
       [0.14967487, 0.22232139, 0.38648898],
       [0.90259848, 0.44994999, 0.61306346],
       [0.90234858, 0.09928035, 0.96980907],
       [0.65314004, 0.17090959, 0.35815217]])

In [397]:
random_array_3 = np.random.rand(5, 3)
random_array_3

array([[0.75068614, 0.60783067, 0.32504723],
       [0.03842543, 0.63427406, 0.95894927],
       [0.65279032, 0.63505887, 0.99529957],
       [0.58185033, 0.41436859, 0.4746975 ],
       [0.6235101 , 0.33800761, 0.67475232]])

In [398]:
# Pseudo-random number
# 隨機的只有種子編碼, 所以種子編碼固定後, 得到的亂數都會相同
np.random.seed(1)
random_array_4 = np.random.randint(10, size=(5, 3))
random_array_4

array([[5, 8, 9],
       [5, 0, 0],
       [1, 7, 6],
       [9, 2, 4],
       [5, 2, 4]])

## 3. Viewing arrays and

In [399]:
np.unique(random_array_4)

array([0, 1, 2, 4, 5, 6, 7, 8, 9])

In [400]:
random_array

array([[[8, 9, 2],
        [6, 9, 5],
        [4, 1, 4]],

       [[6, 1, 3],
        [4, 9, 2],
        [4, 4, 4]],

       [[8, 1, 2],
        [1, 5, 8],
        [4, 3, 8]]])

In [401]:
random_array[:2, :2, :2]

array([[[8, 9],
        [6, 9]],

       [[6, 1],
        [4, 9]]])

In [402]:
a5 = np.random.randint(10, size=(2, 3, 4, 5))
a5.shape, a5.ndim

((2, 3, 4, 5), 4)

In [403]:
# Get the first 4 numbers of the inner most arrays
a5

array([[[[2, 4, 7, 7, 9],
         [1, 7, 0, 6, 9],
         [9, 7, 6, 9, 1],
         [0, 1, 8, 8, 3]],

        [[9, 8, 7, 3, 6],
         [5, 1, 9, 3, 4],
         [8, 1, 4, 0, 3],
         [9, 2, 0, 4, 9]],

        [[2, 7, 7, 9, 8],
         [6, 9, 3, 7, 7],
         [4, 5, 9, 3, 6],
         [8, 0, 2, 7, 7]]],


       [[[9, 7, 3, 0, 8],
         [7, 7, 1, 1, 3],
         [0, 8, 6, 4, 5],
         [6, 2, 5, 7, 8]],

        [[4, 4, 7, 7, 4],
         [9, 0, 2, 0, 7],
         [1, 7, 9, 8, 4],
         [0, 1, 9, 8, 2]],

        [[3, 1, 2, 7, 2],
         [6, 0, 9, 2, 6],
         [6, 2, 7, 7, 0],
         [6, 5, 1, 4, 6]]]])

In [404]:
a5[:1, :2, :3, :4]

array([[[[2, 4, 7, 7],
         [1, 7, 0, 6],
         [9, 7, 6, 9]],

        [[9, 8, 7, 3],
         [5, 1, 9, 3],
         [8, 1, 4, 0]]]])

## 4. Manipulating & comparing arrays

### Arithmetic

In [405]:
a1

array([1, 2, 3])

In [406]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [407]:
a1 + ones

array([2., 3., 4.])

In [408]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [409]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [410]:
# 同一維度必須相等或其中一方為1
a3[:, :2, :1]

array([[[ 1],
        [ 4]],

       [[10],
        [13]]])

In [411]:
a3.reshape(3, 2, 3)
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [412]:
a1 / ones

array([1., 2., 3.])

In [413]:
# Floor division removes the decimals (rounds down)
a2 / a1

array([[1.        , 1.        , 1.1       ],
       [4.        , 2.5       , 2.16666667]])

In [414]:
a2 // a1

array([[1., 1., 1.],
       [4., 2., 2.]])

In [415]:
a2 ** 2

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [416]:
np.square(a2)

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [417]:
a1 + ones

array([2., 3., 4.])

In [418]:
np.add(a1, ones)

array([2., 3., 4.])

In [419]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [420]:
a2 % 2

array([[1. , 0. , 1.3],
       [0. , 1. , 0.5]])

In [421]:
np.log(a1)

array([0.        , 0.69314718, 1.09861229])

## Aggregation
Aggregation = performing the same operation on a number of things

In [422]:
listy_list = [1, 2, 3]
type(listy_list)

list

In [423]:
sum(listy_list)

6

In [424]:
a1

array([1, 2, 3])

In [425]:
type(a1)

numpy.ndarray

In [426]:
np.sum(a1)

6

User Python's method( `sum()` ) on Python datatypes and use NumPy's methods on NumPy arrays( `np.sum()` )

In [427]:
# Creative a massive NumPy array
massive_array = np.random.random(100000)
massive_array.size
massive_array[:10]

array([0.5270581 , 0.8859421 , 0.35726976, 0.90853515, 0.62336012,
       0.01582124, 0.92943723, 0.69089692, 0.99732285, 0.17234051])

In [428]:
%timeit sum(massive_array) # Python's sum() 
%timeit np.sum(massive_array) # NumPy's sum()

15.4 ms ± 315 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
42.8 µs ± 481 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [429]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [430]:
np.mean(a2)

3.6333333333333333

In [431]:
np.max(a2) ,np.min(a2), np.std(a2)

(6.5, 1.0, 1.8226964152656422)

## Reshaping & transposing

In [432]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [433]:
a2.shape

(2, 3)

In [434]:
a2.reshape(2, 3, 1)

array([[[1. ],
        [2. ],
        [3.3]],

       [[4. ],
        [5. ],
        [6.5]]])

In [435]:
a2.shape

(2, 3)

In [436]:
a2.T.shape

(3, 2)

![](./source/dot_product_element_wise.png)
![](./source/dot_product_element_wise_2.png)

## Element-wise multiplication (Hadamard product)
* follow broadcast rule, size必須完全相等, 或其中一方為1  

 
arrayA | arrayB | math | describe
--- | --- | --- | ---
size(1, 2, 3)|size(1, 2, 3)| O | size 相等
size(1, 2, 3)|size(3, 2, 3)| X | size 不全等
size(1, 2, 9)|size(9, 1, 1)| O | size 不相等但該維度其中為1
size(3, 6, 2)|size(3, 6)| X | 維度不對 (維度數由右而左升冪)
size(3, 6, 2)|size(6, 2)| O |

In [437]:
np.random.seed(1)
e_array_1 = np.random.randint(1, 10, size=(3, 6, 1))
e_array_2 = np.random.randint(1, 10, size=(6, 1))
e_array_1 * e_array_2

array([[[48],
        [ 9],
        [42],
        [ 8],
        [ 7],
        [ 4]],

       [[64],
        [ 7],
        [21],
        [40],
        [42],
        [ 6]],

       [[40],
        [ 3],
        [35],
        [64],
        [56],
        [ 4]]])

## Dot product
* 
* 兩元素的

In [438]:
np.random.seed(1)
dot_1 = np.random.randint(1, 10, size=(3, 2))
dot_2 = np.random.randint(1, 10, size=(2, 3))
np.dot(dot_1, dot_2)

array([[93, 96, 45],
       [53, 48, 21],
       [18, 19,  9]])

## Dot product exmaple (nut butter sales)

In [439]:
np.random.seed(0)
# Number of jars sold
sales_amounts = np.random.randint(20, size=(5, 3))
sales_amounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [440]:
weekly_sales = pd.DataFrame(sales_amounts,
              index=['Mon', 'Tues', 'Wed', 'Thurs', 'Fri'],
              columns=['Almond butter', 'Peanut butter', 'Cashew butter'])
weekly_sales

       Almond butter  Peanut butter  Cashew butter
Mon               12             15              0
Tues               3              3              7
Wed                9             19             18
Thurs              4              6             12
Fri                1              6              7

In [441]:
# Create prices array
prices = np.array([10, 8, 12])
prices

array([10,  8, 12])

In [442]:
# Create butter_price DataFrame
# 陣列轉換為pd.DataFrame時, 若為一維陣列須明確轉換形狀(reshape)為 1 row n column
butter_prices = pd.DataFrame(prices.reshape(1, 3),
                           index=['Price'],
                           columns=['Almond butter', 'Peanut butter', 'Cashew butter'])
butter_prices

       Almond butter  Peanut butter  Cashew butter
Price             10              8             12

In [443]:
# Shaoe aren't aligned, let's transpose
total_sales = prices.dot(sales_amounts.T)
total_sales

array([240, 138, 458, 232, 142])

In [445]:
sales_amounts_T = sales_amounts.T
sales_amounts_T

array([[12,  3,  9,  4,  1],
       [15,  3, 19,  6,  6],
       [ 0,  7, 18, 12,  7]])

In [446]:
# Create daily_sales
butter_prices

       Almond butter  Peanut butter  Cashew butter
Price             10              8             12

In [455]:
np.random.seed(0)
# Number of jars sold
sales = np.random.randint(20, size=(5, 3))
sales.shape

(5, 3)

In [459]:
# Create prices array
price = np.array([10, 8, 12])
price = price.reshape(1, 3)
price.shape

(1, 3)

In [464]:
sales.dot(price.T)

array([[240],
       [138],
       [458],
       [232],
       [142]])

In [465]:
price.dot(sales.T)

array([[240, 138, 458, 232, 142]])

In [474]:
# Create daliy_sales
butter_prices.shape, weekly_sales.shape

((1, 3), (5, 3))

In [476]:
weekly_sales.T.shape

(3, 5)

In [479]:
daliy_sales = butter_prices.dot(weekly_sales.T)
daliy_sales

       Mon  Tues  Wed  Thurs  Fri
Price  240   138  458    232  142

In [482]:
weekly_sales['Total ($)'] = daliy_sales.T
weekly_sales

       Almond butter  Peanut butter  Cashew butter  Total ($)
Mon               12             15              0        240
Tues               3              3              7        138
Wed                9             19             18        458
Thurs              4              6             12        232
Fri                1              6              7        142

## Comparison Operators

In [466]:
a1

array([1, 2, 3])

In [467]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [468]:
a1 > a2

array([[False, False, False],
       [False, False, False]])

In [483]:
a1 >= a2

array([[ True,  True, False],
       [False, False, False]])

In [486]:
bool_array = a1 >= a2
type(bool_array), bool_array.dtype

(numpy.ndarray, dtype('bool'))

## Sorting arrays

In [505]:
np.random.seed(1)
random_array = np.random.randint(10, size=(3, 5))
random_array

array([[5, 8, 9, 5, 0],
       [0, 1, 7, 6, 9],
       [2, 4, 5, 2, 4]])

In [506]:
np.sort(random_array)

array([[0, 5, 5, 8, 9],
       [0, 1, 6, 7, 9],
       [2, 2, 4, 4, 5]])

In [509]:
# 回傳各維度index, 以'值'由小而大排序
np.argsort(random_array)

array([[4, 0, 3, 1, 2],
       [0, 1, 3, 2, 4],
       [0, 3, 1, 4, 2]], dtype=int64)

In [510]:
# 返回最小、返回最大
np.argmin(a1), np.argmax(a1)

(0, 2)

In [514]:
random_array

array([[5, 8, 9, 5, 0],
       [0, 1, 7, 6, 9],
       [2, 4, 5, 2, 4]])

In [519]:
np.argmax(random_array, axis=0)

array([0, 0, 0, 1, 1], dtype=int64)

In [631]:
np.random.seed(0)
r = np.random.randint(100, size=(7, 6, 5, 4, 3))
r

array([[[[[44, 47, 64],
          [67, 67,  9],
          [83, 21, 36],
          [87, 70, 88]],

         [[88, 12, 58],
          [65, 39, 87],
          [46, 88, 81],
          [37, 25, 77]],

         [[72,  9, 20],
          [80, 69, 79],
          [47, 64, 82],
          [99, 88, 49]],

         [[29, 19, 19],
          [14, 39, 32],
          [65,  9, 57],
          [32, 31, 74]],

         [[23, 35, 75],
          [55, 28, 34],
          [ 0,  0, 36],
          [53,  5, 38]]],


        [[[17, 79,  4],
          [42, 58, 31],
          [ 1, 65, 41],
          [57, 35, 11]],

         [[46, 82, 91],
          [ 0, 14, 99],
          [53, 12, 42],
          [84, 75, 68]],

         [[ 6, 68, 47],
          [ 3, 76, 52],
          [78, 15, 20],
          [99, 58, 23]],

         [[79, 13, 85],
          [48, 49, 69],
          [41, 35, 64],
          [95, 69, 94]],

         [[ 0, 50, 36],
          [34, 48, 93],
          [ 3, 98, 42],
          [77, 21, 73]]],


        [[[ 0, 10, 43],
          [58, 23, 59],
          [ 2, 98, 62],
          [35, 94, 67]],

         [[82, 46, 99],
          [20, 81, 50],
          [27, 14, 41],
          [58, 65, 36]],

         [[10, 86, 43],
          [11,  2, 51],
          [80, 32, 54],
          [ 0, 38, 19]],

         [[46, 42, 56],
          [60, 77, 30],
          [24,  2,  3],
          [94, 98, 13]],

         [[40, 72, 19],
          [95, 72, 26],
          [66, 52, 67],
          [61, 14, 96]]],


        [[[ 4, 67, 11],
          [86, 77, 75],
          [56, 16, 24],
          [29, 21, 25]],

         [[80, 60, 61],
          [83, 33, 32],
          [70, 85, 31],
          [13, 71, 56]],

         [[24, 79, 41],
          [18, 40, 54],
          [79, 11, 38],
          [93,  1, 95]],

         [[44, 88, 24],
          [67, 82,  3],
          [76, 35, 86],
          [61, 69, 87]],

         [[43, 32, 11],
          [84, 10, 54],
          [37, 28,  2],
          [27, 83, 89]]],


        [[[23, 53, 51],
          [46, 20, 53],
          [29, 67, 35],
          [39,  9, 73]],

         [[41, 23,  3],
          [46, 90, 50],
          [ 3, 31,  9],
          [10, 27, 45]],

         [[71, 39, 61],
          [85, 97, 44],
          [34, 34, 88],
          [33,  5, 36]],

         [[ 0, 75, 34],
          [69, 53, 80],
          [62,  8, 61],
          [ 1, 81, 35]],

         [[91, 40, 36],
          [48, 25, 67],
          [35, 30, 29],
          [33, 18, 17]]],


        [[[93, 84,  2],
          [69, 12, 44],
          [66, 91, 85],
          [39, 39, 75]],

         [[22, 30, 17],
          [70, 71, 18],
          [92, 43, 83],
          [49, 41, 93]],

         [[46, 21, 73],
          [89, 96, 91],
          [73, 28, 81],
          [58,  0, 86]],

         [[63, 16, 36],
          [94, 24, 63],
          [67, 51,  8],
          [56, 91, 93]],

         [[87, 32, 19],
          [72, 71, 87],
          [13, 58, 81],
          [55, 64, 75]]]],



       [[[[92, 36, 25],
          [32, 42, 14],
          [86, 28, 20],
          [82, 68, 22]],

         [[99, 83,  7],
          [72, 61, 13],
          [ 5,  0,  8],
          [79, 79, 53]],

         [[11,  4, 39],
          [92, 45, 26],
          [74, 52, 49],
          [91, 51, 99]],

         [[18, 34, 51],
          [30, 53, 58],
          [43, 55, 18],
          [45, 87, 65]],

         [[70, 53, 48],
          [94, 59, 80],
          [26, 35, 58],
          [49, 73, 44]]],


        [[[13, 70, 38],
          [39,  8, 13],
          [ 7, 80, 22],
          [79, 89,  8]],

         [[99,  6, 81],
          [71, 84, 89],
          [66, 60, 16],
          [56, 23, 24]],

         [[ 4, 49, 87],
          [30, 54, 25],
          [20, 97, 57],
          [23, 27, 29]],

         [[33, 53, 51],
          [86,  7,  9],
          [54,  0, 83],
          [36, 81, 20]],

         [[ 3, 42, 65],
          [20, 36, 68],
          [80, 47, 10],
          [94, 91, 43]]],


        [[[63, 31, 20],
          [70,  9, 60],
          [91, 35, 83],
          [76, 18, 74]],

         [[98, 97, 43],
          [ 3, 12, 58],
          [ 1,  0, 39],
          [24, 58, 36]],

         [[99, 69,  6],
          [ 3, 98, 40],
          [60, 33, 28],
          [68, 26, 96]],

         [[51, 73, 53],
          [69, 33,  7],
          [94, 72, 84],
          [ 7, 67, 85]],

         [[91, 67, 84],
          [71, 83, 95],
          [ 0,  5, 91],
          [30, 73, 83]]],


        [[[ 7, 21, 92],
          [ 8, 43, 46],
          [ 0, 51, 38],
          [89, 74, 98]],

         [[87, 96, 83],
          [26, 78, 32],
          [70, 97, 44],
          [59, 57, 50]],

         [[45,  4, 57],
          [93, 91, 17],
          [35, 66, 20],
          [45, 57, 79]],

         [[36, 62,  4],
          [77, 30, 87],
          [98, 35, 73],
          [90, 55, 26]],

         [[22, 76, 79],
          [98, 90, 51],
          [46, 80, 61],
          [60, 47,  0]]],


        [[[10, 75, 13],
          [71, 94,  6],
          [45, 30, 15],
          [41, 38, 53]],

         [[43, 82,  7],
          [92, 65, 41],
          [66, 92, 78],
          [91, 31, 93]],

         [[50, 46, 93],
          [33, 12, 96],
          [80, 66, 72],
          [10, 90, 27]],

         [[56, 65, 64],
          [69, 88, 34],
          [79,  3, 60],
          [37, 43, 83]],

         [[88, 70, 20],
          [ 6, 28,  6],
          [66, 92, 92],
          [69, 73, 54]]],


        [[[77, 21, 31],
          [81, 35,  8],
          [25, 21, 45],
          [86, 16, 25]],

         [[37,  1,  5],
          [70, 12, 90],
          [74, 54, 78],
          [62, 72, 71]],

         [[45,  5, 47],
          [59, 42, 67],
          [10, 57, 91],
          [89,  3, 78]],

         [[82, 69, 58],
          [ 4, 17, 69],
          [63, 94, 24],
          [ 3, 69, 40]],

         [[36, 58, 49],
          [55, 24, 33],
          [18, 97, 78],
          [ 7, 53, 46]]]],



       [[[[33, 81, 29],
          [12, 46, 32],
          [34, 87, 25],
          [46, 52, 64]],

         [[76, 73, 18],
          [ 4,  7,  3],
          [48, 76, 37],
          [48, 82, 51]],

         [[49, 71, 90],
          [49, 29,  3],
          [74, 84, 65],
          [20, 80, 42]],

         [[28, 26, 87],
          [52, 48, 66],
          [ 9,  2, 89],
          [90, 68, 10]],

         [[12, 97, 37],
          [39, 32, 33],
          [26, 99, 89],
          [50, 88, 82]]],


        [[[20, 94, 28],
          [72, 18, 25],
          [24, 39, 28],
          [24, 18, 67]],

         [[44, 83, 45],
          [54,  0, 10],
          [67,  6, 91],
          [99, 57, 70]],

         [[19, 34, 50],
          [20, 43,  0],
          [66, 97, 12],
          [15, 33, 23]],

         [[12,  5, 38],
          [ 1, 10,  6],
          [ 6, 38, 75],
          [85, 50, 51]],

         [[ 2, 76, 29],
          [ 9, 72,  5],
          [53, 65, 43],
          [79, 62, 76]]],


        [[[47, 76, 21],
          [18, 89, 13],
          [94, 92, 85],
          [ 6, 48, 40]],

         [[26, 30,  5],
          [15, 63, 37],
          [59, 95, 96],
          [80, 32, 62]],

         [[10, 12, 93],
          [64, 29, 90],
          [22, 19,  5],
          [36, 83,  5]],

         [[92, 76, 26],
          [83, 12,  7],
          [52, 80, 29],
          [ 0, 87, 79]],

         [[74,  3, 61],
          [67, 16, 73],
          [84, 56, 62],
          [56, 48, 17]]],


        [[[57,  9, 62],
          [79, 78, 33],
          [ 4, 16, 71],
          [62, 23, 91]],

         [[ 7, 22, 98],
          [30, 80, 27],
          [47, 11, 87],
          [78, 30, 90]],

         [[34, 54, 81],
          [35, 71, 59],
          [37, 68, 53],
          [13, 19,  8]],

         [[96, 81, 69],
          [ 1, 29,  5],
          [80, 40, 22],
          [30, 19,  4]],

         [[20, 74, 67],
          [86, 60, 93],
          [41, 40, 60],
          [81, 51, 40]]],


        [[[59, 94, 29],
          [97, 94, 37],
          [88, 16, 99],
          [39, 29, 65]],

         [[23, 72,  0],
          [87, 37, 63],
          [26, 89, 89],
          [ 6, 88, 79]],

         [[41, 17, 80],
          [43, 69, 19],
          [22, 11, 11],
          [33,  7, 26]],

         [[48, 71, 54],
          [96, 82, 87],
          [21,  2,  8],
          [10,  5, 38]],

         [[38, 65, 59],
          [36,  5,  5],
          [38, 35, 88],
          [49, 79, 84]]],


        [[[ 9,  4, 49],
          [24, 94,  2],
          [83,  3, 77],
          [11, 13, 81]],

         [[26, 70, 47],
          [98, 21, 20],
          [42, 57, 17],
          [89, 85, 55]],

         [[68, 98, 11],
          [98, 97, 19],
          [11, 97, 25],
          [97, 95, 45]],

         [[ 6, 89, 88],
          [38, 51, 16],
          [23, 90,  3],
          [90, 46, 29]],

         [[ 2,  5, 71],
          [15, 78, 35],
          [52,  7, 51],
          [51, 29, 55]]]],



       ...,



       [[[[90, 80, 46],
          [96, 94, 84],
          [23, 15, 44],
          [83, 55, 98]],

         [[27, 45, 98],
          [81, 87, 27],
          [77, 48, 87],
          [94,  5, 97]],

         [[98, 28, 65],
          [68, 85, 72],
          [33, 99, 48],
          [99, 89, 69]],

         [[65, 99, 71],
          [ 1,  1, 71],
          [25, 77, 50],
          [27, 96, 43]],

         [[19, 98, 45],
          [80, 43, 67],
          [ 8, 83, 46],
          [64, 20, 96]]],


        [[[98,  5, 85],
          [24,  2, 71],
          [75, 28, 95],
          [65, 80, 82]],

         [[14, 21, 69],
          [33,  2, 27],
          [19, 15, 71],
          [29, 35, 97]],

         [[48, 49, 80],
          [56, 63, 88],
          [58,  5, 51],
          [61, 83, 17]],

         [[45, 96, 62],
          [22, 97,  9],
          [ 5, 76, 61],
          [42, 16, 59]],

         [[17, 68, 60],
          [25, 14, 61],
          [53, 81, 29],
          [70, 28, 74]]],


        [[[ 5, 84, 55],
          [50, 86, 53],
          [10, 43, 59],
          [30, 59, 14]],

         [[48, 56, 65],
          [ 7, 69, 15],
          [52, 32, 87],
          [78, 34, 29]],

         [[51, 89, 53],
          [ 4, 64, 26],
          [84,  5, 88],
          [17, 68, 56]],

         [[32, 81, 72],
          [73, 31, 94],
          [73, 48, 99],
          [32, 14, 61]],

         [[87, 32, 56],
          [28, 43, 97],
          [50, 46, 72],
          [37,  2, 17]]],


        [[[15, 67, 85],
          [93, 22, 82],
          [ 7, 55, 49],
          [26,  4, 89]],

         [[26, 60, 83],
          [78, 18, 96],
          [91, 36, 20],
          [ 3, 18, 77]],

         [[51, 49, 31],
          [97, 18, 12],
          [91, 98, 71],
          [94, 45, 80]],

         [[65, 88, 16],
          [45, 91, 37],
          [50, 24, 48],
          [76,  4, 51]],

         [[46, 40, 14],
          [10, 27, 78],
          [13,  4, 86],
          [15, 29, 78]]],


        [[[42, 25, 75],
          [95, 91, 22],
          [43, 84, 55],
          [ 2, 25,  0]],

         [[95, 56, 70],
          [82, 86, 62],
          [46, 89, 77],
          [12, 62, 37]],

         [[83, 31, 28],
          [59, 83, 40],
          [89, 29, 28],
          [52, 42, 10]],

         [[84, 17,  0],
          [39, 38, 98],
          [65, 48, 86],
          [45, 49, 22]],

         [[92, 65, 85],
          [66, 32, 50],
          [70, 35, 23],
          [82, 89, 79]]],


        [[[27, 85,  1],
          [ 9, 81, 11],
          [64, 67, 61],
          [54, 36, 84]],

         [[19, 69, 84],
          [62, 68, 41],
          [80, 16, 57],
          [ 5, 96, 22]],

         [[ 3,  8, 62],
          [92, 41, 74],
          [92, 95, 11],
          [34, 91, 49]],

         [[71, 39, 58],
          [ 5, 73, 88],
          [12, 97, 59],
          [78, 15,  4]],

         [[22, 52, 66],
          [71, 72,  5],
          [39, 79, 79],
          [41, 89, 22]]]],



       [[[[89, 89, 19],
          [62, 29,  9],
          [11, 99, 26],
          [82, 72,  1]],

         [[99, 46, 55],
          [10, 74, 24],
          [95, 43, 91],
          [13, 78, 55]],

         [[ 5, 23, 42],
          [49, 75, 56],
          [43, 24, 81],
          [21, 94, 18]],

         [[63, 89, 29],
          [37, 49, 40],
          [95, 11, 56],
          [63, 14, 32]],

         [[65, 65, 36],
          [25, 76, 72],
          [50, 12, 24],
          [19, 67, 10]]],


        [[[ 7, 52, 92],
          [14, 72, 46],
          [99, 35, 81],
          [23, 61, 53]],

         [[12, 45,  7],
          [47, 39, 94],
          [19, 50, 65],
          [43, 82, 78]],

         [[89, 56, 72],
          [50, 34, 90],
          [11, 11, 36],
          [49, 76, 81]],

         [[95, 74, 48],
          [74, 11, 93],
          [34, 74, 76],
          [39, 10,  2]],

         [[75, 46, 51],
          [41, 91,  3],
          [16, 63, 64],
          [13, 38,  4]]],


        [[[ 3, 19, 81],
          [16, 71, 24],
          [11, 22, 60],
          [91,  2,  8]],

         [[72, 89, 38],
          [52, 97, 88],
          [63, 21,  4],
          [31, 75, 37]],

         [[ 7, 22, 42],
          [59, 95, 54],
          [73, 51, 82],
          [23, 83, 25]],

         [[57, 69, 89],
          [45, 88, 51],
          [59, 44, 26],
          [43, 32, 30]],

         [[14, 71, 96],
          [61,  1, 47],
          [43, 90, 15],
          [68, 74, 85]]],


        [[[39, 94, 86],
          [ 0, 81, 58],
          [12, 91, 43],
          [54, 47, 22]],

         [[31, 34, 98],
          [42, 68, 62],
          [36, 83, 44],
          [81, 70,  6]],

         [[48,  9, 28],
          [77, 56,  9],
          [85, 66,  9],
          [36, 28, 64]],

         [[74, 13,  2],
          [37, 71, 87],
          [94, 81,  3],
          [98, 80, 82]],

         [[50, 61, 82],
          [28, 35, 53],
          [26, 42, 46],
          [69, 28, 43]]],


        [[[83, 62, 74],
          [74,  9, 91],
          [99, 75, 96],
          [38, 31, 22]],

         [[91, 57, 21],
          [97, 61, 41],
          [99, 41, 23],
          [52, 23, 72]],

         [[41, 60, 47],
          [15, 36, 65],
          [94, 42,  0],
          [83,  6, 93]],

         [[67, 31, 29],
          [16, 67, 26],
          [ 6, 11, 81],
          [55, 43, 67]],

         [[20, 91, 92],
          [14, 14, 80],
          [99, 63, 43],
          [27, 87, 20]]],


        [[[23, 34, 32],
          [65, 22, 21],
          [57, 68, 45],
          [39, 24, 86]],

         [[17, 52, 90],
          [ 8,  5, 97],
          [86, 82, 10],
          [62, 29, 11]],

         [[30, 71, 58],
          [94, 42, 85],
          [71, 25, 54],
          [83, 25, 45]],

         [[ 3, 84, 83],
          [37, 33, 60],
          [89,  7, 60],
          [37, 84, 98]],

         [[16, 45, 39],
          [33, 97, 65],
          [73, 87, 68],
          [24,  6, 97]]]],



       [[[[60, 88, 61],
          [59, 74, 29],
          [28, 24,  3],
          [82, 21,  6]],

         [[84, 21, 27],
          [26, 89, 64],
          [ 3, 53, 37],
          [ 7, 80, 75]],

         [[11,  2, 54],
          [ 5, 17, 78],
          [ 5, 78, 81],
          [30, 98,  3]],

         [[ 0, 93, 44],
          [44, 61,  0],
          [17, 29, 91],
          [34, 59, 21]],

         [[63, 94, 17],
          [38, 79,  1],
          [15, 86, 17],
          [53, 22, 77]]],


        [[[47, 66, 11],
          [ 9, 40, 54],
          [51, 47,  4],
          [10,  6, 44]],

         [[72,  8, 72],
          [18,  2, 69],
          [93, 29, 27],
          [17, 58, 11]],

         [[49, 72, 88],
          [ 3, 11, 57],
          [50, 15, 57],
          [ 3, 60, 39]],

         [[85, 29, 53],
          [67, 56, 75],
          [79, 45, 90],
          [79, 97, 11]],

         [[ 5, 30, 58],
          [68, 59, 32],
          [37, 43, 60],
          [45, 29, 27]]],


        [[[27, 29, 72],
          [75, 97, 78],
          [38, 11, 74],
          [89, 32, 50]],

         [[40, 70, 30],
          [22, 75, 35],
          [84, 68, 63],
          [ 4, 49, 29]],

         [[63, 61, 91],
          [83, 90, 26],
          [73, 50, 95],
          [94, 17, 71]],

         [[56, 35, 73],
          [92, 47, 48],
          [71, 67, 71],
          [62, 72, 37]],

         [[ 5, 97, 55],
          [92, 46, 38],
          [49,  8, 65],
          [66, 62, 16]]],


        [[[61, 66, 11],
          [31, 10, 20],
          [14, 52, 71],
          [29,  5, 14]],

         [[79, 51, 32],
          [23, 91,  6],
          [73, 65, 75],
          [87, 70, 40]],

         [[60, 36, 12],
          [35, 62, 69],
          [62, 58, 76],
          [18,  0,  1]],

         [[84, 77, 90],
          [21, 78, 13],
          [67, 17,  5],
          [26, 63, 27]],

         [[41, 13, 45],
          [48, 56, 58],
          [17, 86, 95],
          [89, 92, 77]]],


        [[[ 7, 26, 17],
          [68, 43, 47],
          [94, 92, 72],
          [58, 27,  6]],

         [[ 7, 53, 26],
          [75, 37, 93],
          [49, 20, 93],
          [56, 61, 55]],

         [[92, 23, 57],
          [ 9,  0, 19],
          [71, 50, 38],
          [67, 30, 37]],

         [[56,  5, 59],
          [80, 90, 61],
          [31, 70, 89],
          [75, 17, 31]],

         [[31, 84, 90],
          [39, 50, 74],
          [38, 68, 39],
          [79, 13, 35]]],


        [[[11, 75, 54],
          [36, 82, 75],
          [51, 34, 58],
          [80, 28,  9]],

         [[ 8, 17, 92],
          [25, 94, 59],
          [94, 59, 58],
          [18, 12,  1]],

         [[27, 10, 67],
          [61, 16, 27],
          [ 6,  0,  7],
          [25, 67, 59]],

         [[36, 44, 85],
          [72, 38, 42],
          [97, 36, 68],
          [91, 13, 13]],

         [[41, 72,  6],
          [94, 12, 98],
          [ 3, 16,  5],
          [40, 55, 29]]]]])

In [632]:
# axis0 = 1d (row)
# axis1 = 2d (cloumn)
# axis2 = 3d ()
# axisn = nd -1
np.argmax(r, axis=4)

array([[[[2, 0, 0, 2],
         [0, 2, 1, 2],
         [0, 0, 2, 0],
         [0, 1, 0, 2],
         [2, 0, 2, 0]],

        [[1, 1, 1, 0],
         [2, 2, 0, 0],
         [1, 1, 0, 0],
         [2, 2, 2, 0],
         [1, 2, 1, 0]],

        [[2, 2, 1, 1],
         [2, 1, 2, 1],
         [1, 2, 0, 1],
         [2, 1, 0, 1],
         [1, 0, 2, 2]],

        [[1, 0, 0, 0],
         [0, 0, 1, 1],
         [1, 2, 0, 2],
         [1, 1, 2, 2],
         [0, 0, 0, 2]],

        [[1, 2, 1, 2],
         [0, 1, 1, 2],
         [0, 1, 2, 2],
         [1, 2, 0, 1],
         [0, 2, 0, 0]],

        [[0, 0, 1, 2],
         [1, 1, 0, 2],
         [2, 1, 2, 2],
         [0, 0, 0, 2],
         [0, 2, 2, 2]]],


       [[[0, 1, 0, 0],
         [0, 0, 2, 0],
         [2, 0, 0, 2],
         [2, 2, 1, 1],
         [0, 0, 2, 1]],

        [[1, 0, 1, 1],
         [0, 2, 0, 0],
         [2, 1, 1, 2],
         [1, 0, 2, 1],
         [2, 2, 0, 0]],

        [[0, 0, 0, 0],
         [0, 2, 2, 1],
         [0, 1, 0, 2],
         [1, 0, 0, 2],
         [0, 2, 2, 2]],

        [[2, 2, 1, 2],
         [1, 1, 1, 0],
         [2, 0, 1, 2],
         [1, 2, 0, 0],
         [2, 0, 1, 0]],

        [[1, 1, 0, 2],
         [1, 0, 1, 2],
         [2, 2, 0, 1],
         [1, 1, 0, 2],
         [0, 1, 1, 1]],

        [[0, 0, 2, 0],
         [0, 2, 2, 1],
         [2, 2, 2, 0],
         [0, 2, 1, 1],
         [1, 0, 1, 1]]],


       [[[1, 1, 1, 2],
         [0, 1, 1, 1],
         [2, 0, 1, 1],
         [2, 2, 2, 0],
         [1, 0, 1, 1]],

        [[1, 0, 1, 2],
         [1, 0, 2, 0],
         [2, 1, 1, 1],
         [2, 1, 2, 0],
         [1, 1, 1, 0]],

        [[1, 1, 0, 1],
         [1, 1, 2, 0],
         [2, 2, 0, 1],
         [0, 0, 1, 1],
         [0, 2, 0, 0]],

        [[2, 0, 2, 2],
         [2, 1, 2, 2],
         [2, 1, 1, 1],
         [0, 1, 0, 0],
         [1, 2, 2, 0]],

        [[1, 0, 2, 2],
         [1, 0, 1, 1],
         [2, 1, 0, 0],
         [1, 0, 0, 2],
         [1, 0, 2, 2]],

        [[2, 1, 0, 2],
         [1, 0, 1, 0],
         [1, 0, 1, 0],
         [1, 1, 1, 0],
         [2, 1, 0, 2]]],


       [[[2, 1, 2, 2],
         [0, 2, 1, 2],
         [0, 2, 1, 1],
         [0, 0, 0, 1],
         [1, 2, 0, 2]],

        [[1, 2, 2, 2],
         [2, 1, 2, 2],
         [1, 2, 0, 0],
         [1, 0, 0, 1],
         [1, 1, 1, 2]],

        [[0, 0, 0, 1],
         [0, 1, 1, 1],
         [1, 2, 2, 1],
         [1, 2, 1, 2],
         [0, 2, 0, 1]],

        [[0, 2, 2, 2],
         [2, 2, 0, 2],
         [2, 0, 0, 1],
         [0, 1, 2, 2],
         [0, 1, 0, 2]],

        [[2, 2, 1, 2],
         [0, 2, 0, 2],
         [2, 2, 2, 0],
         [1, 2, 1, 1],
         [0, 0, 1, 2]],

        [[2, 1, 0, 2],
         [2, 1, 2, 2],
         [1, 0, 0, 1],
         [0, 0, 0, 0],
         [2, 2, 0, 2]]],


       [[[0, 0, 2, 2],
         [2, 1, 2, 2],
         [0, 1, 1, 0],
         [1, 2, 1, 1],
         [1, 0, 1, 2]],

        [[0, 2, 2, 2],
         [2, 0, 2, 2],
         [2, 2, 0, 1],
         [1, 1, 1, 2],
         [1, 2, 1, 2]],

        [[1, 1, 2, 1],
         [2, 1, 2, 0],
         [1, 1, 2, 1],
         [1, 2, 2, 2],
         [0, 2, 2, 0]],

        [[2, 0, 1, 2],
         [2, 2, 0, 2],
         [0, 0, 1, 0],
         [1, 1, 0, 0],
         [0, 2, 2, 2]],

        [[2, 0, 1, 1],
         [0, 1, 1, 1],
         [0, 1, 0, 0],
         [0, 2, 2, 1],
         [0, 0, 0, 1]],

        [[1, 1, 1, 2],
         [2, 1, 0, 1],
         [2, 0, 1, 1],
         [0, 2, 1, 0],
         [2, 1, 1, 1]]],


       [[[0, 0, 1, 0],
         [0, 1, 0, 1],
         [2, 1, 2, 1],
         [1, 1, 0, 0],
         [0, 1, 0, 1]],

        [[2, 1, 0, 1],
         [1, 2, 2, 1],
         [0, 2, 2, 2],
         [0, 2, 2, 0],
         [0, 1, 2, 1]],

        [[2, 1, 2, 0],
         [1, 1, 0, 1],
         [2, 1, 2, 1],
         [2, 1, 0, 0],
         [2, 0, 1, 2]],

        [[1, 1, 1, 0],
         [2, 1, 1, 0],
         [0, 0, 0, 2],
         [0, 2, 0, 0],
         [2, 2, 2, 0]],

        [[0, 2, 0, 0],
         [0, 0, 0, 2],
         [1, 2, 0, 2],
         [0, 1, 2, 2],
         [2, 2, 0, 1]],

        [[1, 0, 1, 2],
         [2, 2, 0, 0],
         [1, 0, 0, 0],
         [1, 2, 0, 2],
         [1, 1, 1, 2]]],


       [[[1, 1, 0, 0],
         [0, 1, 1, 1],
         [2, 2, 2, 1],
         [1, 1, 2, 1],
         [1, 1, 1, 2]],

        [[1, 2, 0, 2],
         [0, 2, 0, 1],
         [2, 2, 2, 1],
         [0, 2, 2, 1],
         [2, 0, 2, 0]],

        [[2, 1, 2, 0],
         [1, 1, 0, 1],
         [2, 1, 2, 0],
         [2, 0, 0, 1],
         [1, 0, 2, 0]],

        [[1, 0, 2, 0],
         [0, 1, 2, 0],
         [0, 2, 2, 0],
         [2, 1, 0, 1],
         [2, 2, 2, 1]],

        [[1, 0, 0, 0],
         [1, 2, 2, 1],
         [0, 2, 0, 0],
         [2, 1, 2, 0],
         [2, 2, 1, 0]],

        [[1, 1, 2, 0],
         [2, 1, 0, 0],
         [2, 0, 2, 1],
         [2, 0, 0, 0],
         [1, 2, 1, 1]]]], dtype=int64)